<ion-header [translucent]="true">
  <ion-toolbar class="menu-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <span text-color="menu-text-color">Nouveau compte agent</span>
   </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-grid>
    <ion-card-header  align="center">
      <img src="assets/add-user.png" alt="Logo de GestiBank" width="40%" height="40%"/>    
    </ion-card-header>

    <ion-row>
      <ion-col>        
        <ion-item>
          <ion-label></ion-label>
          <ion-input [(ngModel)]="nom" placeholder="Nom"></ion-input>
          <br/><br/>
        </ion-item>      
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label></ion-label>
          <ion-input [(ngModel)]="prenom" placeholder="Prénom"></ion-input>
          <br/><br/>
        </ion-item>      
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label></ion-label>
          <ion-input [(ngModel)]="mail"  placeholder="E-mail"></ion-input>
          <br/><br/>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label></ion-label>
          <ion-input [(ngModel)]="phone" placeholder="N° teléphone" ></ion-input>
          <br/><br/>
        </ion-item>
      </ion-col>
    </ion-row>
      
    <ion-row>
      <ion-col class="text-align:left"></ion-col>
      <ion-col>
        <ion-button (click)="NewAgent()" > Ajouter un agent </ion-button>
      </ion-col>
      <ion-col class="text-align:right"></ion-col>
    </ion-row>    
    <ion-row>
      <ion-col class="text-align:left"></ion-col>
      <ion-col>
        <ion-button (click)="Retour()" > RETOUR </ion-button>
      </ion-col>
      <ion-col class="text-align:right"></ion-col>
    </ion-row>
  </ion-grid>  
</ion-content>
