<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Bienvenue à GestiBank</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>  
    <ion-card-header>
      <img src="assets/logo_ilhem.png" width="40%" height="40%"/>

    </ion-card-header>

    <ion-card-content>
  
     <br/> <br/> <br/>
     <img src="assets/newyork.jpg"/>
    </ion-card-content>
    
  </ion-card>

</ion-content>