<ion-header>
  <ion-toolbar>
    <ion-title>Création d'un cnouveau compte client</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card align="center">
   <ion-card-header>
     <img src="assets/logo_ilhem.png" alt="Logo de GestiBank"/>
    
     <ion-card-title>Nouveau Compte</ion-card-title>
   </ion-card-header>

   <ion-card-content>
    <form (ngSubmit)="auth()">
     <ion-item>
       <ion-label><ion-icon name="person-outline"></ion-icon> Nom</ion-label>
       <ion-input placeholder="Enter votre nom"  [(ngModel)]="nom"name="nom"></ion-input>
     </ion-item>
   
     <ion-item>
       <ion-label><ion-icon name="lock-closed-outline"></ion-icon> Prénom</ion-label>
       <ion-input placeholder="Enter votre prénom" [(ngModel)]="prenom" name="prenom"></ion-input>
     </ion-item>
     <ion-item>
      <ion-label><ion-icon name="lock-closed-outline"></ion-icon> Email</ion-label>
      <ion-input placeholder="Enter votre Email" [(ngModel)]="email" name="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label><ion-icon name="lock-closed-outline"></ion-icon> Mot de passe</ion-label>
      <ion-input placeholder="Enter votre n° de téléphone" [(ngModel)]="tel" name="tel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label><ion-icon name="lock-closed-outline"></ion-icon> Type de compte</ion-label>
      <ion-input placeholder="Enter votre prénom" [(ngModel)]="tc" name="tc"></ion-input>
    </ion-item>
          <ion-button color="primary" type="submit" name="btn">Se connecter</ion-button>
        </form>
   </ion-card-content>
 </ion-card>

</ion-content>
