<ion-header [translucent]="true">
  <ion-toolbar class="menu-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <span text-color="menu-text-color">Nouveau compte client</span>
   </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card align="center">
   <ion-card-header>
     <img src="assets/logo_ilhem.png" alt="Logo de GestiBank" width="40%" height="40%"/>    
   </ion-card-header>

   <ion-card-content>
    <form >
     <ion-item>
       <ion-label ><ion-icon name="person-outline"></ion-icon> Nom</ion-label>
       <ion-input placeholder="Entrer votre nom"  [(ngModel)]="nom"name="nom"></ion-input>
     </ion-item>
   
     <ion-item>
       <ion-label><ion-icon name="person-outline"></ion-icon> Prénom</ion-label>
       <ion-input placeholder="Entrer votre prénom" [(ngModel)]="prenom" name="prenom"></ion-input>
     </ion-item>
     <ion-item>
      <ion-label><ion-icon name="mail-outline"></ion-icon> Email</ion-label>
      <ion-input placeholder="Enter votre Email" [(ngModel)]="email" name="email"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label><ion-icon name="wallet-outline"></ion-icon> Type de compte</ion-label>
      <ion-input placeholder="Entrer votre prénom" [(ngModel)]="tc" name="tc"></ion-input>
    </ion-item>
    <br/> <br/> <br/>
          <ion-button color="primary" type="submit" name="btn">Se connecter</ion-button>
        </form>
   </ion-card-content>
 </ion-card>

</ion-content>
