<ion-header [translucent]="true">
  <ion-toolbar class="menu-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <span text-color="menu-text-color">Affecter un compte</span>
   </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list *ngFor="let client of clients">
    <form #form="ngForm" (ngSubmit)="affecter(form)">
      <ion-item>
        <ion-input
          name="email"
          [(ngModel)]="client.email"
          type="text"
          [value]="client.email"
          required
          hidden
        ></ion-input>
        <ion-label class="name-label">
          {{ client.name }} {{client.prenom.toUpperCase()}}</ion-label>       
        <ion-item slot="end">

          <!--<ion-label>Agents : </ion-label>-->
          <select ngModel name="agentMatricule" required>
            <option selected disabled hidden>Agents</option>
            <option *ngFor="let agent of agents" [ngValue]="agent.matricule">
              {{agent.matricule}}
            </option>
          </select>
        </ion-item>
       
        <ion-button type="submit" slot="end">Affecter</ion-button>
      </ion-item>
    </form>
  </ion-list>
</ion-content>

