<ion-header [translucent]="true">
  <ion-toolbar class="menu-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <span text-color="menu-text-color">Valider les demandes</span>
   </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list *ngFor="let client of clients">
    <form #form="ngForm" (ngSubmit)="valider(form)">
      <ion-item>
        <ion-input
          name="email"
          [(ngModel)]="client.email"
          type="text"
          [value]="client.email"
          required
          hidden
        ></ion-input>
        <ion-label class="name-label">
          {{ client.name }} {{client.prenom.toUpperCase()}}</ion-label>  
        <ion-button type="submit" slot="end">VALIDER</ion-button>          
      </ion-item>
    </form>
  </ion-list>
  <ion-row>
    <ion-col class="text-align:left"></ion-col>
    <ion-col>
      <ion-button class="customBtn" (click)="Retour()" > RETOUR </ion-button>
    </ion-col>
    <ion-col class="text-align:right"></ion-col>
  </ion-row>

</ion-content>

