<ion-header [translucent]="true">
  <ion-toolbar class="menu-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <span text-color="menu-text-color">Espace administrateur</span>
   </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card align="center">
    <ion-card-header>
      <img src="assets/logo_ilhem.png" alt="Logo de GestiBank" width="40%" height="40%"/>    
    </ion-card-header>

    <ion-row>
      <ion-col class="text-align:left"></ion-col>
      <ion-col>
        <ion-button class="customBtn" (click)="ListeAgentsPage()"> LISTE DES AGENTS </ion-button>
      </ion-col>
      <ion-col class="text-align:right"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="text-align:left"></ion-col>
      <ion-col>
        <ion-button class="customBtn" (click)="PageNewAgent()" > AJOUTER UN AGENT </ion-button>
      </ion-col>
      <ion-col class="text-align:right"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="text-align:left"></ion-col>
      <ion-col>
        <ion-button class="customBtn" (click)="ConsulterDemandes()"> CONSULTER LES DEMANDES </ion-button>
      </ion-col>
      <ion-col class="text-align:right"></ion-col>
    </ion-row>
  </ion-card>
  <br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <ion-row>
      <ion-col class="text-align:left"></ion-col>
      <br/><br/>  <br/><br/>
      <ion-col>
        <ion-button (click)="deconnexion()" class="customBtn"> DECONNEXION </ion-button>
      </ion-col>
      <ion-col class="text-align:right"></ion-col>
    </ion-row>
    


</ion-content>