<ion-header [translucent]="true">
  <ion-toolbar class="menu-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <span text-color="menu-text-color">Accéder à mon compte</span>
   </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid >
    <ion-card-header  align="center">
      <img src="assets/login.png" alt="Logo de GestiBank" width="40%" height="40%"/>    
    </ion-card-header>

    <ion-row>
      <ion-col>        
          <ion-item>
          <ion-label><ion-icon name="mail-outline"></ion-icon></ion-label>          
          <ion-input [(ngModel)]="email" placeholder="E-mail"></ion-input>
          <br/><br/>
        </ion-item>      
      </ion-col>
    </ion-row>
      
    <ion-row>
      <ion-col>        
        <ion-item>
          <ion-label><ion-icon name="key-outline"></ion-icon></ion-label>
          <ion-input [(ngModel)]="password" type="password"  placeholder="Mot de passe"></ion-input>
          <br/><br/>
        </ion-item>      
      </ion-col>
    </ion-row>
      
    <ion-row>
      <ion-col ></ion-col>
      <ion-col>
        <br/><br/>
        <ion-button (click)="connect()"> SE CONNECTER </ion-button>
      </ion-col>
      <ion-col ></ion-col>
    </ion-row>
      
  </ion-grid>


</ion-content>

